/* 正文配置 */
body {
    line-height: 1.2 !important; /* 调整所有行距 */
}

/* 代码段配置 */
pre {
    line-height: 1.2 !important; /* 调整代码快行距 */
}

/* 标题配置 */
h1, h2, h3, h4, h5, h6 {
    color: #FF5733 !important; /* 设置标题颜色 */
    margin-top: 10px; /* 段前间距 */
    margin-bottom: 10px; /* 段后间距 */
}

/* 段间距 */
p {
    margin-top: 5px;   /* 段前间距 */
    margin-bottom: 10px; /* 段后间距 */
}

/* 字面量 */
.highlight .s1,  /* 单引号字符串 */
.highlight .s2,  /* 双引号字符串 */
.literal         /* rst原生字面量 */
{
    font-size: 17px;
    font-weight: 600;
    background-color: transparent !important;  /* 透明背景色 */
}