/* 项目符号 配置, ul为无序，ol为有序 */

ul, ol {/* 第一级 */
    padding-top: 1px !important;  /* 段前距离 */
    margin-bottom: 1px !important; /* 段后距离 */
}

ul ul {/* 第二级 */
    padding-top: 1px !important;  /* 段前距离 */
    margin-bottom: 1px !important; /* 段后距离 */
}

ol ol {/* 第二级 */
    padding-top: 1px !important;  /* 段前距离 */
    margin-bottom: 1px !important; /* 段后距离 */
}