/* version_selector.css */

/* 调整侧边栏目录的位置（可选） */
.wy-nav-side {
    top: 0; /* 移除搜索栏占据的空间 */
}

/* 侧边栏和按钮样式 */
.wy-nav-side {
    position: relative;
    transition: margin 0.3s; /* 添加动画效果 */
    display: block !important;
    visibility: visible !important;
}