/* 表格配置 */
table.docutils td, table.docutils th {
    padding: 0px; /* 增加上下内边距以增大行距 */
    border-bottom: 1px solid #ddd;
}

table.docutils tr:nth-child(even) {
    background-color: #f9f9f9; /* 可选：设置斑马纹 */
}

.wy-table-responsive table td, .wy-table-responsive table th {
    text-align: left; /* left, right， center */
}