/* code-block 代码块样式 */
/* 调整默认code-block 代码块样式中，显示文本的字号、颜色 */


/* 代码块文本字号 */
.highlight pre {
    font-size: 14px !important;
    line-height: 1.5;
}

/* 代码块注释颜色 */
.highlight .c,   /* 通用注释 */
.highlight .cm,  /* 多行注释（Markdown等） */
.highlight .c1 { /* 单行注释 */
    color: green !important; /* 注释颜色 */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


