/* 通过 :cpp: 相关指令交叉引用至 API reference 的显示样式 */
/* 同普通 API 的默认样式区分开 */

/* 覆盖所有C++交叉引用类型，包括 func、class、member、type、enum */
.xref.cpp.cpp-func,   /* 函数 */
.xref.cpp.cpp-class,  /* 类 */
.xref.cpp.cpp-member, /* 成员变量 */
.xref.cpp.cpp-type,   /* 类型别名 */
.xref.cpp.cpp-enum    /* 枚举 */
{
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: #2980B9;  /* 自定义显示颜色为深蓝色 */
    background-color: transparent !important;  /* 透明背景色 */
    border: none !important;  /* 无边框 */
}


