/* Field List 参数列表样式 */
/* 调整默认Field List样式中，左右侧文字底端显示严重不对齐 */

/* 整体容器 */
/* .field-list.simple dl {
    margin-top: 1em;
    margin-bottom: 1em;
} */


/* 参数名单元格（左侧） */
.field-list.simple dt {
    margin-top: 0.5em;          
    margin-bottom: 0.5em;
    width: 20%;                 /* 固定参数名列宽 */
    font-weight: bold;
    font-style: italic;
    color: brown;            /* 棕色文字 */
}

