/* custom.css */

/* 公共样式导入 路径相对于 custom.css 的位置 */
@import url("_tab.css");
@import url("_table.css");
@import url("_list.css");
@import url("_body.css");
@import url("_field_list.css");
@import url("_code_block.css");
@import url("_nda_usr_pwd.css");


/* 多语言字体配置 */
body:lang(en) p {
    font-family: inherit; /* 继承默认字体 */
}

body:lang(zh-CN) p {
    font-family: "Microsoft YaHei", sans-serif;
}

/* 可选：其他语言扩展 */
body:lang(ja) p {
    font-family: "MS Gothic", sans-serif;
}

/* 支持更多语言扩展 */
body:lang(de) p { font-family: Arial; }
body:lang(ar) p { font-family: Tahoma; }